*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn_container{
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 15em;
    text-align: center;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    align-items: center;

}

.btn_container_text{
    padding: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.btn{
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 9rem;
  height: 2rem;
  font-size: 16px;
}

.btn:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.isOn{
    background-color: rgb(57, 232, 110);
}

.cont_settings{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.settings_container{
  background: rgba(51, 51, 51, 0.5);
  width: 95%;
  display: flex;
  flex-direction: column;
}

.config_txt{
  color: #000;
}

.container_download_btn{
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
 
.off{
  display: none;
}

.myProgress {
  margin: 20px 0 0 0 ;
  width: 20%;
  background-color: #797878;
}

.myBar {
  width: 1%;
  height: 20px;
  background-color: #70f156;
}